* {
  margin: 0;
  font-family: "inter";
}

#logo {
  margin-left: 50px;
  margin-top: 50px;
}

#titulo-menusuperior {
  margin-left: 150px;
  margin-top: 50px;
}

#texto-menusuperior {
  margin-left: 150px;
  margin-top: 35px;
  padding-bottom: 100px;
}

#menusuperior {
  background-image: url(imagens/fundo-menusuperior.svg);
  color: aliceblue;
}

#menuinformacional {
  background-color: #eaece5;
  display: grid;
  grid-auto-flow: column;
  columns: auto;
}

.icone {
  margin: 50px 0px 50px 100px;
  padding: 25px;
}

#secaovideo {
  display: grid;
  grid-auto-flow: column;
  columns: auto;
}

.textoinformativo {
  display: flex;
  align-items: center;
}

#titulovideo {
  color: #247ba0;
  margin-top: 50px;
}

#video {
  margin: 50px 25px 50px 100px;
}

#carrosel {
  background-color: #247ba0;
  padding: 50px;
}

#titulocarrosel {
  color: white;
  text-align: center;
  font-size: 25px;
}

#div-cards {
  display: grid;
  margin-top: 25px;
  grid-auto-flow: column;
}

.card {
  margin-left: 50px;
}

#seta-esquerda {
  display: none;
}

#Bruna {
  display: none;
}

.seta {
  margin-top: 55%;
  cursor: pointer;
}

.seta:hover {
  transform: translateY(-7px);
  transition-duration: 0.5s;
}

#formulario {
  text-align: center;
}

#titulo-formulario {
  font-size: 25px;
  margin: 25px;
  color: #383838;
}
